<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <gammawallet>
                <model>Gamma\Wallet\Model\Payment\GammaWallet</model>
                <active>1</active>
                <title>Use Store Credits with Gamma</title>
                <order_status>gamma_awaiting</order_status>
                <payment_action>order</payment_action>
                <sort_order>50</sort_order>
                <group>offline</group>
                <token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <rewards>1</rewards>
                <reward_email>1</reward_email>
                <no_reward_methods>checkmo,banktransfer,cashondelivery,purchaseorder</no_reward_methods>
            </gammawallet>
        </payment>
    </default>
</config>
